<div *ngIf="board" class="board-container">
  <h2>{{ board.title }}</h2>
  <button mat-raised-button (click)="addNote()">+ Note</button>

  <div *ngIf="board" class="board-area">

    <div *ngFor="let note of board.notes" class="note" cdkDrag [cdkDragFreeDragPosition]="{ x: note.x, y: note.y }"
      (cdkDragEnded)="onNoteDragEnd($event, note.id)">

      <!-- Lösch-Button oben rechts -->
      <button class="close-button" (click)="deleteNote(note.id)">x</button>

      <!-- Edit-Button unten rechts -->
      

      <!-- Text-Bereich -->
      <div class="note-text">{{ note.text }}</div>

      <button mat-icon-button class="edit-button" (click)="editNote(note)" aria-label="Bearbeiten">
        <mat-icon class="mat-icon">edit</mat-icon>
      </button>
    </div>



  </div>

  <div *ngIf="!board">Board nicht gefunden!</div>